<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!--CustomerManager Config-->

    <bean name="customerManager" id="customerManager"
          class="lk.ac.ucsc.webArc.assgnment.customer.impl.facade.CustomerManagerFacade">
        <property name="customerPersister" ref="customerPersister"></property>
    </bean>

    <bean id="customerPersister"
          class="lk.ac.ucsc.webArc.assgnment.customer.impl.persistantImpl.hibernate.CustomerPersisterHibernate"
          scope="singleton">
        <constructor-arg index="0" ref="realTime"/>

    </bean>
    <!--Common Config for DataSource-->

    <bean id="realTime" class="org.springframework.orm.hibernate4.LocalSessionFactoryBean">
        <property name="dataSource" ref="dataSource"/>
        <property name="packagesToScan" value="lk.ac.ucsc.webArc.assgnment.customer.impl.beans"/>
        <property name="configLocations" value="implGeneral/customer_hibernate.cfg.xml"/>
    </bean>

    <bean id="dataSource" class="org.apache.commons.dbcp.BasicDataSource" destroy-method="close">
        <property name="driverClassName" value="oracle.jdbc.driver.OracleDriver"/>
        <property name="url" value="jdbc:oracle:thin:@127.0.0.1:1521:XE"/>
        <property name="username" value="XE"/>
        <property name="password" value="password"/>
    </bean>


</beans>